<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0ac6abed-531f-4b03-87f1-b3a0580ba399</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://win8160.site4now.net:8172/MsDeploy.axd?site=wssans-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>wssans-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>wssans-001</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
	<PublishWebConfig>false</PublishWebConfig>
  </PropertyGroup>

  <ItemGroup Condition="'$(PublishWebConfig)' != 'true'">
	<Content Update="web.config">
	  <CopyToPublishDirectory>Never</CopyToPublishDirectory>
	</Content>
  </ItemGroup>
</Project>